<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>login</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <link href="../css/swiper.css" rel="stylesheet">
    <link href="../css/magnific-popup.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">

    <link rel="icon" href="images/favicon.png">

</head>
<body data-spy="scroll" data-target=".fixed-top">


<div th:insert="~{fragments/nav/template-nav :: template-nav}" class="replaceAttribute"></div>
<div th:insert="~{fragments/header/common-template-header :: common-template-header}" class="replaceAttribute"></div>

<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form action="/auth/login" method="post">
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example3cg">Your Email</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/auth/signup"
                                                                                                        class="fw-bold text-body"><u>Sign Up here</u></a></p>
                                <button class="btn" style="text-align:center;" type="submit">Login</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div th:replace="~{fragments/footer/template-footer :: template-footer}" class="replaceAttribute"></div>
<div th:replace="~{fragments/footer/template-copyright :: template-copyright}" class="replaceAttribute"></div>



<!-- Scripts -->
<script src="../js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="../js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="../js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="../js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="../js/jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
<script src="../js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="../js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="../js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="../js/scripts.js"></script> <!-- Custom scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    var password = document.getElementById("password")
        ,password_check = document.getElementById("password_check");

    function validatePassword(){
        if(password.value !== password_check.value) {
            password_check.setCustomValidity("비밀번호가 일치하지 않습니다");
        }
        else {
            password_check.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    password_check.onkeyup = validatePassword;

</script>

</body>
</html>