<!DOCTYPE html>
<html lang="en">

<body>
<main th:fragment="league-fragment" class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">

  <div class="row my-4">
    <div class="col-lg-12 col-12">
      <div class="custom-block bg-white">
        <h5 class="mb-4">리그 순위</h5>

      <div class="custom-block bg-white">
        <h5 class="mb-4">리그 뉴스</h5>
        <!--주차별 버튼-->
        <div class="container">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 1</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 2</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 3</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 4</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 5</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 6</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 7</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 8</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 9</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block border-0">Button 10</button>
            </div>
          </div>
        </div>


        <div class="prediction_header_wrap__3TkqD text-center">
          <div class="prediction_header_wrap_top__31j06">
            <strong class="prediction_header_league__3mjM3">2024 LoL 챔피언스 코리아 스프링</strong>
            <span class="prediction_header_text__YkFTA">승부예측</span>
          </div>
          <div class="prediction_header_wrap_content__16Q_k">
            <strong class="prediction_header_status__Iz23z" data-type="NONE">현재 74,344명 참여중</strong>
            <p class="prediction_header_comment__3cKf7">예측 적중 시 다양한 상품 응모가 가능한 라운지 티켓과 네이버 페이 포인트를 드립니다!</p>
            <a href="https://game.naver.com/esports/League_of_Legends/board/detail/3422715" target="_blank" class="prediction_header_link__LbTiI">이벤트 자세히 보기 <svg width="19" height="18" xmlns="http://www.w3.org/2000/svg" class="prediction_header_icon__3CT3h"><path d="M7.92 3l6 6-6 6" stroke="#8B8F9F" stroke-width="1.636" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-opacity="0.401"></path></svg></a>
          </div>
        </div>




        <div class="card mb-3 custom-card">
          <div class="row g-0">
            <div class="col-md-2">
              <!-- 왼쪽 팀 로고 -->
              <img src="left_team_logo_url" alt="Left Team Logo">
              <div> team name</div>
              <h3>승률</h3>
            </div>
            <div class="col-md-8">
              <div class="card-body text-center">
                <!-- 팀 이름과 예측 확률 -->
                <h5 class="card-title">Left Team Name - 예측 확률%</h5>
                <h5 class="card-title">VS</h5>
                <h5 class="card-title">Right Team Name - 예측 확률%</h5>
                <!-- 승부 결과 공간 -->
                <p class="card-text">결과: </p>
              </div>
            </div>
            <div class="col-md-2">
              <!-- 오른쪽 팀 로고 -->
              <img src="right_team_logo_url" alt="Right Team Logo">
              <div> team name</div>
              <h3>승률</h3>
            </div>
          </div>
        </div>

        <div class="card mb-3 custom-card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://via.placeholder.com/150" alt="Card image">

            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 custom-card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://via.placeholder.com/150" alt="Card image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
</body>
</html>