<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<main th:fragment="league-fragment" class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">

    <div class="row my-4">
        <div class="col-lg-12 col-12">
            <div class="custom-block bg-white">
                <h5 class="mb-4">리그 순위</h5>

                <div class="table-responsive" th:object="${ranking}">
                    <table class="account-table table">
                        <thead>
                        <tr>
                            <th scope="col">팀명</th>

                            <th scope="col">승</th>

                            <th scope="col">패</th>

                            <th scope="col">승률</th>

                            <th scope="col">득실차</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="rank : ${ranking}">
                            <td scope="row">
                                <img th:src="${rank.logo}" class="team-logo">
                                <span th:text="${rank.teamName}"></span>
                            </td>

                            <td scope="row" >
                                <span th:text="${rank.win}"></span>
                            </td>

                            <td scope="row">
                                <span th:text="${rank.lose}"></span>
                            </td>

                            <td scope="row">
                                <span th:text="${rank.winrate}"></span>
                            </td>

                            <td class="text-danger" scope="row">
                                <span class="me-1" th:text="${rank.difference}"></span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <div class="custom-block bg-white">
                <h5 class="mb-4">리그 뉴스</h5>
                <div class="card mb-3 custom-card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://via.placeholder.com/150" alt="Card image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 custom-card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://via.placeholder.com/150" alt="Card image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 custom-card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://via.placeholder.com/150" alt="Card image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>