<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>

<div class="container p-large table-responsive table-wrap scrollbox mg-b20" th:fragment="team-ranking-fragment">
    <table class="table table-striped table-borderless" style="table-layout: fixed; width: 100%;">

        <thead>
            <tr>
                <th width="12%" scope="col">팀순위</th>
                <th width="42%" scope="col">팀명</th>
                <th width="12%" scope="col">승</th>
                <th width="12%" scope="col">패</th>
                <th width="15%" scope="col">승률</th>
                <th width="12%" scope="col">득실차</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="rank: ${ranking}" style="font-size: 24px;">
                <th style="width: 183px;" th:text="${rank.ranking}">팀 순위</th>
                <td style="width: 732px;" width="42%" >
                    <img style="width:36px; height:36px;" th:src="@{${rank.logo}}">
                    <span th:text="${rank.teamName}"></span>
                </td>
                <td style="width: 183px;" th:text="${rank.win}"></td>
                <td style="width: 183px;" th:text="${rank.lose}">패</td>
                <td style="width: 186px;" th:text="${rank.winrate}">패</td>
                <td style="width: 180px;" th:text="${rank.difference}">패</td>
            </tr>

        </tbody>
    </table>
</div>


</body>
</html>