<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body>
<table th:fragment="team-ranking-fragment" class="ranking-table">
    <thead class="ranking-title-area">
    <tr class="ranking-row">
        <th class="col-sm-1"><div class="ranking-row-title">팀 순위</div></th>
        <th class="col-sm-5"><div class="col-sm-4 ranking-row-title">팀명</div></th>
        <th class="col-sm-1"><div class="col-sm-1 ranking-row-title">승</div></th>
        <th class="col-sm-1"><div class="col-sm-1 ranking-row-title">패</div></th>
        <th class="col-sm-2"><div class="col-sm-3 ranking-row-title">승률</div></th>
        <th class="col-sm-2"><div class="col-sm-2 ranking-row-title">득실차</div></th>
    </tr>
    </thead>
    <tbody class="ranking-item-area">
    <tr th:scope="col" th:each="rank ,userStat : ${ranking}" class="ranking-item-row first">

        <td class="ranking-item col-sm-1">
            <strong th:text="${userStat.index+1}" class="ranking-rank">1</strong>
        </td>

        <td class="col-sm-5">
            <div class="ranking-logo">
                <img class="ranking-image" th:src="@{${rank.logo}}" src="https://nng-phinf.pstatic.net/MjAyNDA0MTRfODAg/MDAxNzEzMDkzODYyNDQ4.eYiZxiqvEsfKTolDJgMiWGdZdPkvjqTaJCBzieidI04g.Z49TEBd7qQnvaQbYAmJLhcozS7OO9Lam1tZ-Lz-UOsUg.PNG/xEtyTgLerKLWMjBvzShJ.png?type=f60_60" width="36" height="36" alt="젠지">
            </div>
            <span th:text="${rank.teamName}" class="ranking-text"></span>
        </td>
        <td class="ranking-item col-sm-1"><span class="ranking-num" th:text="${rank.win}">17</span></td>
        <td class="ranking-item col-sm-1"><span class="ranking-num" th:text="${rank.lose}">1</span></td>
        <td class="ranking-item col-sm-2"><span class="ranking-num" th:text="${rank.winrate}">0.94</span></td>
        <td class="ranking-item col-sm-2"><span class="ranking-num" th:text="${rank.difference}">29</span></td>
    </tr>
    <hr>
    <!-- Other rows -->
    </tbody>
</table>
</body>
</html>