<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body>
<div th:fragment="signup-fragment" class="registration form">
    <header>Signup</header>
    <form th:action="@{/auth/register}" th:method="post">
        <input name="loginId" type="email" placeholder="Enter your email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" id="loginId" required>
        <input name="password" type="password" placeholder="Create a password" id="password" required>
        <input name="password_check" type="password" placeholder="Confirm your password" id="password_check" required>
        <input name="name" type="text" placeholder="Enter your name" required>
        <input name="phoneNumber" type="text" pattern="010-[0-9]{4}-[0-9]{4}" placeholder="010-****-****" required>
        <input type="submit" class="button" value="Signup">
    </form>
    <div class="signup">
            <span class="signup">Don't have an account?
                <a href="/auth/loginForm" class="login-button">Login</a>
            </span>
    </div>
</div>

</body>
</html>