<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>imyeomsu - news</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <link href="../css/swiper.css" rel="stylesheet">
    <link href="../css/magnific-popup.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet">

    <!--font-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css">
</head>

<body data-spy="scroll" data-target=".fixed-top" >

<div th:insert="~{fragments/nav/template-nav :: template-nav}" class="replaceAttribute"></div>
<div th:insert="~{fragments/header/common-header :: common-header-fragment}" class="replaceAttribute"></div>

<div class="container">
    <div class="custom-block bg-white col-8">
        <h5 class="mb-4">리그 뉴스</h5>
        <div th:each="entry : ${newsList}" id="news-container">
            <br>
            <h5 class="mb-4" th:text="${entry.key}"></h5>
            <div class="card mb-3 border-0 custom-card" th:each="news : ${entry.value}">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="border-radius: 10px; width: 192px; height: auto;" th:src="${news.thumbnail}">
                    </div>
                    <div class="col-md-8" style="max-height: height: 108px; overflow: hidden;">
                        <div class="card-body border-0">
                            <h5 style="overflow: hidden;" class="card-title" th:text="${news.title}"></h5>
                            <p style="overflow: hidden; font-size: 12px" class="card-text" th:text="${news.content}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">


    </div>
</div>


<!-- Pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4"  >
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="date : ${reversedDates}">
            <a class="page-link" href="#" th:text="${date}" onclick="showNews(this.getAttribute('date'))"></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<div th:insert="~{fragments/footer/template-footer :: template-footer}" class="replaceAttribute"></div>
<div th:insert="~{fragments/footer/template-copyright :: template-copyright}" class="replaceAttribute"></div>



<!-- Template Main JS File -->
<script src="../js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="../js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="../js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="../js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="../js/jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
<script src="../js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="../js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="../js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="../js/scripts.js"></script> <!-- Custom scripts -->

<script src="../js/predict.js"></script>
<script th:inline="javascript">
    function showNews(date) {
        var newsContainers = document.querySelectorAll('#news-container .mb-4');
        for (var i = 0; i < newsContainers.length; i++) {
            var containerDate = newsContainers[i].textContent;
            if (containerDate === date) {
                newsContainers[i].parentNode.style.display = 'block';
            } else {
                newsContainers[i].parentNode.style.display = 'none';
            }
        }
    }
</script>

</div>
</body>
</html>