<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body>
<div th:fragment="news-fragment">
    <div class="custom-block bg-white">
        <h5 class="mb-4">리그 뉴스</h5>
        <div th:each="entry : ${newsList}" id="news-container">
            <br>
            <h5 class="mb-4" th:text="${entry.key}"></h5>
            <div class="card mb-3 border-0 custom-card" th:each="news : ${entry.value}">
                <div class="row g-0">
                    <div class="col-md-4" th:style="'border-radius: 10px; background-image: url(' + ${news.thumbnail} + ');background-size: contain; max-height:192px; height: 108px; overflow: hidden;'"></div>
                    <div class="col-md-8">
                        <div class="card-body border-0 pt-0" th:style="'max-height:192px height: 108px; overflow: hidden;'">
                            <h5 style="overflow: hidden;" class="card-title" th:text="${news.title}"></h5>
                            <p style="overflow: hidden; font-size: 12px; max-height: 50px; max-width: 100%;" class="card-text" th:text="${news.content}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>