<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body>


<div th:fragment="ranking-team-fragment" class="main-wrapper-container">
    <div class="ranking_container__1l5wQ">
        <a class="ranking_section_title__2oowR" href="/esports/League_of_Legends/record/lck">2024 LoL 챔피언스 코리아 스프링
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" class="ranking_icon__1FVp6">
                <path d="M2 2l5 5-5 5" stroke="#222" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </a>
        <div class="ranking_content__mh7AR">
            <div class="ranking_button_area__3cPcD">
                <button type="button" class="ranking_type_button__33yga ranking_active__1-emA">팀</button>
                <button type="button" class="ranking_type_button__33yga">선수</button>
            </div>
            <div class="ranking_group_table__3ktgw">
                <div class="ranking_group__1q_o1">
                    <table class="ranking_table__um0B0">
                        <caption class="ranking_caption__Lk1Y3">팀 순위</caption>
                        <colgroup>
                            <col width="48%">
                            <col width="13%" span="4">
                        </colgroup>
                        <thead class="ranking_title_area__TWe0z">
                        <tr class="ranking_row__3wJuh">
                            <th scope="col">
                                <div class="ranking_row_title___rD81">팀명</div>
                            </th>
                            <th scope="col">
                                <div class="ranking_row_title___rD81">승</div>
                            </th>
                            <th scope="col">
                                <div class="ranking_row_title___rD81">패</div>
                            </th>
                            <th scope="col">
                                <div class="ranking_row_title___rD81">승률</div>
                            </th>
                            <th scope="col">
                                <div class="ranking_row_title___rD81">득실차</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="ranking_item_area__11qTP">
                        <tr class="ranking_item_row__2P7f8 ranking_first__ZieI2">
                            <td class="ranking_item__rMCiZ ranking_name__t6-v5">
                                <strong class="ranking_rank__1YjIT">1</strong>
                                <div class="ranking_logo__2RlWi">
                                    <img class="ranking_image__1fTV-" src="https://nng-phinf.pstatic.net/MjAyNDA0MTRfODAg/MDAxNzEzMDkzODYyNDQ4.eYiZxiqvEsfKTolDJgMiWGdZdPkvjqTaJCBzieidI04g.Z49TEBd7qQnvaQbYAmJLhcozS7OO9Lam1tZ-Lz-UOsUg.PNG/xEtyTgLerKLWMjBvzShJ.png?type=f60_60" width="36" height="36" alt="젠지">
                                </div>
                                <span class="ranking_text__3Q3qr">젠지</span>
                            </td>
                            <td class="ranking_item__rMCiZ">
                                <span class="ranking_num___owTL">17</span>
                            </td>
                            <td class="ranking_item__rMCiZ">
                                <span class="ranking_num___owTL">1</span>
                            </td>
                            <td class="ranking_item__rMCiZ">
                                <span class="ranking_num___owTL ranking_etc__ZHSfa">0.94</span>
                            </td>
                            <td class="ranking_item__rMCiZ">
                                <span class="ranking_num___owTL ranking_etc__ZHSfa">29</span>
                            </td>
                        </tr>
                        <!-- Additional table rows go here -->
                        </tbody>
                    </table>
                </div>
                <!-- Additional tables go here -->
            </div>
        </div>
    </div>
</div>

</body>
</html>