<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Takeaways -->
<div th:fragment="template-news" id="main-news-card" class="cards">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>LCK 소식</h2>
<!--                <p class="p-heading">Here are the main topics that will be covered in the SEO training course. They cover all the basics of SEO and even some advanced techniques that will help you along the way</p>-->
            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card" th:each="news, iterStat : ${newsList}" th:if="${iterStat.index < 9}">
                    <div class="card-image" style="width: 18rem; border: none;">
<!--                            <i th:style="'background-image: url('+${news.thumbnail}+')'"></i>-->
                        <img class="card-img-top" style="border-radius: 10px" th:src="@{${news.thumbnail}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 th:text="${news.title}" style="overflow: hidden; max-height: 50px; margin-top: 50px;" class="card-title" ></h5>
                        <p th:text="${news.content}" style="max-height: 30px; overflow: hidden;" class="card-text"></p>
                    </div>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <input type="checkbox" class="card-content__more-btn">

        <!--        &lt;!&ndash; 더 보기 버튼 &ndash;&gt;-->
<!--        <div class="row" id="loadMoreButtonSection">-->
<!--            <div class="col-lg-12 text-center">-->
<!--                <button id="loadMoreButton" class="btn btn-light border-0">더 보기</button>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; 소식 전체 보기 링크 &ndash;&gt;-->
<!--        <div class="row" id="showAllNewsLinkSection" style="display: none;">-->
<!--            <div class="col-lg-12 text-center">-->
<!--                <a href="/all-news" class="btn btn-light border-0">소식 전체 보기</a>-->
<!--            </div>-->
<!--        </div>-->
    </div> <!-- end of container -->
</div> <!-- end of cards -->

</body>


</html>