<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Teams logo -->
<div th:fragment="template-team-logo-slider" class="slider-1" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">LCK 2024 SPRING TEAM</p>

                <!-- Image Slider -->
                <div class="slider-container">
                    <div class="swiper-container image-slider-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/gen_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/t1_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/kt_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/dk_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/hle_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/drx_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/fox_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/bro_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/ns_logo.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="images/team_logo/kdf_logo.png" alt="alternative">
                            </div>


                        </div> <!-- end of swiper-wrapper -->
                    </div> <!-- end of swiper container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of partners -->

</body>
</html>