<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>imyeomsu - news</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <link href="../css/swiper.css" rel="stylesheet">
    <link href="../css/magnific-popup.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/wooristyle.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main-reactive.css">

    <!--font-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css">

    <!-- Favicon  -->
    <link rel="icon" href="/images/logo/apple-icon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

<div th:insert="~{fragments/nav/template-nav :: template-nav}" class="replaceAttribute"></div>
<div th:insert="~{fragments/header/common-template-header :: common-template-header}" class="replaceAttribute"></div>
<div th:insert="~{fragments/utils/match-calender :: template-modal-calendar}" class="replaceAttribute"></div>



<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-3">
            <div class="dropup">
                <button name="asc-ranking" id="asc-ranking" class="dropdown-toggle sortBtn btn btn-link btn-lg justify-content-center" style="text-decoration: none; color: silver" onclick="btnClick(this.name)">팀 오름차순 정렬</button>
            </div>
        </div>
        <div class="col-3">
            <button name="desc-ranking" id="desc-ranking" class="dropdown-toggle sortBtn btn btn-link btn-lg justify-content-center" style="text-decoration: none; color: silver" onclick="btnClick(this.name)">팀 내림차순 정렬</button>
        </div>
    </div>
</div>

<div th:insert="~{fragments/league/team-ranking-fragment:: team-ranking-fragment}" class="team-ranking-replaceAttribute"></div>



<div th:insert="~{fragments/footer/template-footer :: template-footer}" class="replaceAttribute"></div>
<div th:insert="~{fragments/footer/template-copyright :: template-copyright}" class="replaceAttribute"></div>


<!-- Scripts -->
<script src="../js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="../js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="../js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="../js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="../js/jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
<script src="../js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="../js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="../js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="../js/scripts.js"></script> <!-- Custom scripts -->

<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/main.js"></script>

<script>
    const rankingElement = document.querySelector('.team-ranking-replaceAttribute');

    function btnClick(nameAttr) {
        let buttonToggle = document.getElementById(nameAttr);
        buttonToggle.addEventListener('click', () => {
            fetch(`/ranks/ranking/reverse-ranking-fragment?buttonName=${nameAttr}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },

            })
                .then(response => response.text())
                .then(html => {
                    rankingElement.innerHTML = html;
                })
                .catch(error => console.error(error));
        });
    };
</script>

</body>
</html>