<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--autoplay muted loop  Header -->

<header th:fragment="template-header" id="header" class="header">
    <iframe src="https://www.youtube.com/embed/MDErQ1KTzaI?autoplay=1&mute=1&loop=1&controls=0&playlist=MDErQ1KTzaI" frameborder="0"></iframe>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="countdown">
                        <span id="clock"></span>
                    </div>
                    <h1>우리 은행 X LCK</h1>
                    <p class="p-large"> 어쩌고 저쩌고 소개 ~  </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Image Slider -->
    <div class="outer-container">
        <div class="slider-container">
            <div class="swiper-container image-slider-1">
                <div class="swiper-wrapper">
                    <!-- Slide1 -->
                    <div class="swiper-slide" >
                        <img class="img-fluid" src="images/zz.png" alt="alternative">
                    </div>
                    <!-- end of slide -->

                    <!-- Slide2 -->
                    <div class="swiper-slide">
                        <img class="img-fluid" src="images/images/zzz.png" alt="alternative">
                    </div>
                    <!-- end of slide -->

                    <!-- Slide3 -->
                    <div class="swiper-slide">
                        <img class="img-fluid" src="images/zzzz.png" alt="alternative">
                    </div>
                    <!-- end of slide -->

                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
    </div> <!-- end of outer-container -->
    <!-- end of image slider -->
</header>


</body>

</html>