<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>

<div class="container bootstrap snippets bootdey text-center">
    <div class="image-wrapper">
        <img class="img-error" src="https://bootdey.com/img/Content/fdfadfadsfadoh.png">
        <h2>400</h2>
        <p>Sorry, an error has occured, Requested page not found!</p>
        <div class="error-actions">
            <a href="/" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Back Home
            </a>
        </div>
    </div>

</div>


</body>

</html>
