/* Template: Corso - Free Training Course Landing Page Template
   Author: Inovatik
   Created: Nov 2019
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Registration
06. Partners
07. Instructor
08. Description
09. Students
10. Details Lightbox
11. Video
12. Takeaways
13. Testimonials
14. Date
15. Newsletter
16. Contact
17. Footer
18. Copyright
19. Back To Top Button
20. Extra Pages
21. Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #fbf9f5
- Backgrounds, buttons - yellow #ffbd50
- Headings text, navbar links - black #333
- Body text - dark gray #555
******************************************/


/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
	overflow-x: hidden; /* 수직 스크롤 막기 */

	width: 100%;
	height: 100%;
}

body, p {
	color: #555; 
	font: 400 1rem/1.625rem "Montserrat", sans-serif;
}

.p-large {
	font: 400 1.125rem/1.75rem "Montserrat", sans-serif;
}

.p-small {
	font: 400 0.875rem/1.5rem "Montserrat", sans-serif;
}

.p-heading {
	margin-bottom: 3.75rem;
}

h1 {
	color: #333;
	font: 700 2.75rem/3.375rem "Montserrat", sans-serif;
}

h2 {
	color: #333;
	font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
}

h3 {
	color: #333;
	font: 700 1.625rem/2.125rem "Montserrat", sans-serif;
}

h4 {
	color: #333;
	font: 700 1.25rem/1.875rem "Montserrat", sans-serif;
}

h5 {
	color: #333;
	font: 700 1.125rem/1.75rem "Montserrat", sans-serif;
}

h6 {
	color: #333;
	font: 700 1rem/1.625rem "Montserrat", sans-serif;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.625rem;
}

.li-space-lg li {
	margin-bottom: 0.375rem;
}

.indent {
	padding-left: 1.25rem;
}

a {
	color: #555;
	text-decoration: underline;
}

a:hover {
	color: #555;
	text-decoration: underline;
}

.white {
	color: #eee;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #ffbd50;
	border-radius: 2rem;
	background-color: #ffbd50;
	color: #333;
	font: 600 0.875rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 0.125rem solid #333;
	background-color: transparent;
	color: #333;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #ffbd50;
	border-radius: 2rem;
	background-color: #ffbd50;
	color: #333;
	font: 600 0.875rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 0.125rem solid #333;
	background-color: transparent;
	color: #333;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #333;
	border-radius: 2rem;
	background-color: transparent;
	color: #333;
	font: 600 0.875rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	border: 0.125rem solid #ffbd50;
	background-color: #ffbd50;
	color: #333;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #333;
	border-radius: 2rem;
	background-color: transparent;
	color: #333;
	font: 600 0.875rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	border: 0.125rem solid #ffbd50;
	background-color: #ffbd50;
	color: #333;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 0.875rem 1.625rem;
	border: 0.125rem solid #333;
	border-radius: 2rem;
	background-color: transparent;
	color: #333;
	font: 600 0.875rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	border: 0.125rem solid #ffbd50;
	background-color: #ffbd50;
	color: #333;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 0.87rem;
	left: 1.375rem;
	color: #555;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Montserrat", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.0625rem;
	padding-bottom: 0.0625rem;
	padding-left: 1.3125rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #555;
	font: 400 0.875rem/1.875rem "Montserrat", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.form-control-input {
		padding-top: 1.25rem;
		padding-bottom: 0.75rem;
		line-height: 1.75rem;
	}

	.form-control-select {
		padding-top: 0.875rem;
		padding-bottom: 0.75rem;
		height: 3.125rem;
		line-height: 2.125rem;
	}
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.3125rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #555;
	font: 400 0.875rem/1.75rem "Montserrat", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 0.125rem solid #ffbd50;
	border-radius: 1.5rem;
	background-color: #ffbd50;
	color: #333;
	font: 600 0.875rem/0 "Montserrat", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 0.125rem solid #333;
	background-color: transparent;
	color: #333;
}

/* Form Success And Error Message Formatting */
#rmsgSubmit.h3.text-center.tada.animated,
#nmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#rmsgSubmit.h3.text-center,
#nmsgSubmit.h3.text-center,
#cmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #333;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1rem;
}

.help-block.with-errors .list-unstyled {
	font-size: 0.75rem;
	line-height: 1.125rem;
	text-align: left;
}

.help-block.with-errors ul {
	margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for details lightbox - magnific popup */


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fbf9f5;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #ffbd50;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	background-color: #fff;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.04);
	font: 600 0.875rem/0.875rem "Montserrat", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 5.5625rem;
	height: 1.875rem;
}

.navbar-custom .navbar-brand.logo-text {
	font: italic 600 2rem/1.5rem "Montserrat", sans-serif;
	color: #ffbd50;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem;
	color: #333;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #ffbd50;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #fff;
}

.navbar-custom .dropdown-item {
	color: #333;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #fff;
}

.navbar-custom .dropdown-item .item-text {
	font: 600 0.875rem/0.875rem "Montserrat", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #ffbd50;
}

.navbar-custom .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.725rem auto;
	border: none;
	background-color: #c4d8dc;
	opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: #333;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/*********************/
/*    04. Header     */
/*********************/
.header {
	position: relative;
	padding-top: 8rem;
	/*height: 100vh;*/
	max-height: 480px;
	height: 380px;
	padding-bottom: 40%;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/lck.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
	/*background: rgba( 255, 255, 255, 0.15 );*/
	/*backdrop-filter: blur( 4.5px );*/
	/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
	/*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}
.header .header-img{

	height: 6.5rem;
	width: 100%;
}

.header iframe{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height:100vh;
	transform: translate(-50%, -50%);
	pointer-events: none;
	background-size: cover;

}


.header iframe iframe-container{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height:100vh;
	transform: translate(-50%, -50%);
	pointer-events: none;
	background-size: cover;
	background-color: #0a53be;


}

@media (min-aspect-ratio: 16/9) {
	.header iframe {
		height: 56.25vw;
	}
}
@media (max-aspect-ratio: 16/9) {
	.header iframe {
		width: 177.78vh;
	}
}

.header .countdown {
	margin-bottom: 0.5rem;
	color: #fff;
	text-align: center;
}

.header .countdown #clock .counter-number {
	display: inline-block;
	width: 6.5rem;
	height: 6.5rem;
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
	margin-left: 0.5rem;
	padding-top: 2rem;
	border: 0.125rem solid #fff;
	border-radius: 50%;
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 1.25rem;
	text-align: center;
}

.header .countdown #clock .counter-number .timer-text {
	font-size: 0.75rem;
	line-height: 1rem;
	text-align: center;
}

.header h1 {
	margin-bottom: 0.75rem;
	color: #eee;
}

.header .p-large {
	margin-bottom: 1.75rem;
	color: #ddd;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.125rem;
	margin-left: 0.5rem;
}

.header .btn-solid-lg:hover {
	border: 0.125rem solid #ffbd50;
	color: #ffbd50;
}

.header .btn-outline-lg {
	border: 0.125rem solid #fff;
	color: #fff;
}

.header .btn-outline-lg:hover {
	background-color: #fff;
	color: #333;
}

.header .outer-container {
	position: absolute;
	right: 0;
	bottom: -2rem;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;

}

.header .slider-container {
	top: -125px;
	position: relative;
}

.header .swiper-container {

	position: static;
	width: 80%;
	border-radius: 0.75rem;
}

.header .swiper-container img {
	border-radius: 0.75rem;
}

.header .swiper-button-prev:focus,
.header .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.header .swiper-button-prev {
	left: 0.25rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.header .swiper-button-next {
	right: 0.25rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}


/****************************/
/*     05. Registration     */
/****************************/
.form-1 {
	padding-top: 6rem;
	padding-bottom: 6.25rem;
	background-color: #ffbd50;
}

.form-1 h2 {
	margin-bottom: 1.25rem;
}

.form-1 p,
.form-1 .list-unstyled,
.form-1 .help-block,
.form-1 .checkbox,
.form-1 .checkbox a {
	color: #333;
}

.form-1 p {
	margin-bottom: 1.5rem;
}

.form-1 .list-unstyled .fas {
	color: #333;
	font-size: 0.5rem;
	line-height: 1.5rem;
}

.form-1 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.form-1 .form-control-input {
	border: 1px solid #ffedd0;
	background-color: #FFFFFF;
}

.form-1 .form-control-input:hover {
	border: 1px solid #fff;
}

.form-1 .form-control-submit-button {
	border: 0.125rem solid #333;
	background-color: transparent;
}

.form-1 .form-control-submit-button:hover {
	border: 0.125rem solid #ffedd0;
	background-color: #FFFFFF;
}


/************************/
/*     06. Partners     */
/************************/
.slider-1 {

	top:-100px;
	padding-bottom: 3rem;
	background-color: #fbf9f5;
	text-align: center;
}

.slider-1 .p-small {
	color: #797fa7;
}

.slider-1 .slider-container {
	top: 20px;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}


/**************************/
/*     07. Instructor     */
/**************************/
.basic-1 {
	padding-top: 3.75rem;
	padding-bottom: 3.5rem;
	background-color: #FFFFFF;
}

.basic-1 h2 {
	margin-bottom: 1.25rem;
}

.basic-1 img {
	margin-bottom: 2.5rem;
	border-radius: 0.25rem;
}


/***************************/
/*     08. Description     */
/***************************/
.basic-2 {
	padding-top: 3.5rem;
	padding-bottom: 2.75rem;
	background-color: #fbf9f5;
}

.basic-2 h2 {
	margin-bottom: 3.75rem;
	text-align: center;
}

.basic-2 .li-space-lg li {
	margin-bottom: 1.375rem;
}

.basic-2 .list-unstyled .bullet {
	margin-right: 0.625rem;
	width: 2.125rem;
	height: 2.125rem;
	border-radius: 50%;
	background-color: #ffbd50;
	color: #333;
	font-style: normal;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 2rem;
	text-align: center;
}


/************************/
/*     09. Students     */
/************************/
.basic-3 {
	padding-top: 2.75rem;
	padding-bottom: 4rem;
	background-color: #fbf9f5;
}

.basic-3 .text-container {
	margin-bottom: 3.5rem;
}

.basic-3 h2 {
	margin-bottom: 1.25rem;
}

.basic-3 p {
	margin-bottom: 1.375rem;
}

.basic-3 img {
	border-radius: 0.25rem;
}


/********************************/
/*     10. Details Lightbox     */
/********************************/
.lightbox-basic {
	margin: 2.5rem auto;
	padding: 2rem 1.5rem 2rem 1.5rem;
	border-radius: 0.25rem;
	background: #fbf9f5;
	text-align: left;
}

.lightbox-basic .container {
	padding-right: 0;
	padding-left: 0;
}

.lightbox-basic .image-container {
	max-width: 33.75rem;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-left: auto;
}

.lightbox-basic .image-container img {
	border-radius: 0.25rem;
}

.lightbox-basic h3 {
	margin-bottom: 0.5rem;
}

.lightbox-basic hr {
	width: 2.5rem;
	height: 0.125rem;
	margin-top: 0;
	margin-bottom: 0.875rem;
	margin-left: 0;
	border: 0;
	background-color: #555;
	text-align: left;
}

.lightbox-basic h4 {
	margin-bottom: 1rem;
}

.lightbox-basic .list-unstyled .fas {
	color: #555;
	font-size: 0.5rem;
	line-height: 1.5rem;
}

.lightbox-basic .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.lightbox-basic .btn-outline-reg,
.lightbox-basic .btn-solid-reg {
	margin-top: 0.75rem;
}

/* Signup Button */
.lightbox-basic .btn-solid-reg.mfp-close {
	position: relative;
	width: auto;
	height: auto;
	color: #333;
	opacity: 1;
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
	color: #333;
}
/* end of signup Button */

/* Back Button */
.lightbox-basic a.mfp-close.as-button {
	position: relative;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	color: #333;
	opacity: 1;
}

.lightbox-basic a.mfp-close.as-button:hover {
	color: #333;
}
/* end of back button */

.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -0.125rem;
	right: -0.125rem;
	width: 2.75rem;
	height: 2.75rem;
	color: #707984;
}


/*********************/
/*     11. Video     */
/*********************/
.basic-4 {
	padding-top: 4rem;
	padding-bottom: 3rem;
	background-color: #fbf9f5;
}

.basic-4 h2 {
	margin-bottom: 2.75rem;
	text-align: center;
}

.basic-4 .image-container {
	margin-bottom: 2rem;
}

.basic-4 .image-container img {
	border-radius: 0.75rem;
}

.basic-4 .video-wrapper {
	position: relative;
}

/* Video Play Button */
.basic-4 .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 2rem;
	height: 2.75rem;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	border-radius: 50%;
	background: #ffbd50;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.375rem;
	height: 4.375rem;
	border-radius: 50%;
	background: #ffbd50;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 0.375rem;
	left: 0.25rem;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #fff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}
  
@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
/* end of video play button */


/*************************/
/*     12. Takeaways     */
/*************************/
.cards {
	padding-top: 3rem;
	padding-bottom: 2rem;
	background-color: #ffffff;
}

.cards h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.cards p {
	text-align: center;
}

.cards .card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	padding: 3rem 1.625rem 1.75rem 1.625rem;
	border: none;
	background-color: #fff;
	text-align: center;
}

.cards .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
	background-color: #fbf9f5;
}

.cards .fas,
.cards .far {
	color: #ffbd50;
	font-size: 3rem;
	line-height: 6rem;
}

.cards .card-body {
	padding: 0;
}

.cards .card-title {
	margin-bottom: 0.5rem;
}


/****************************/
/*     13. Testimonials     */
/****************************/
.slider-2 {
	padding-top: 2.5rem;
	padding-bottom: 4rem;
	background-color: #FFFFFF;
}

.slider-2 h3 {
	margin-bottom: 3.75rem;
	text-align: center;
}

.slider-2 .slider-container {
	position: relative;
}

.slider-2 .swiper-container {
	position: static;
	width: 88%;
	text-align: center;
}

.slider-2 .image-wrapper {
	width: 6rem;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
}

.slider-2 .image-wrapper img {
	border-radius: 0.25rem;
}

.slider-2 .testimonial-text {
	margin-bottom: 0.5rem;
}

.slider-2 .testimonial-author {
	color: #333;
}

.slider-2 .swiper-button-prev,
.slider-2 .swiper-button-next {
	width: 1.125rem;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-2 .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider-2 .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}


/********************/
/*     14. Date     */
/********************/
.basic-5 {
	background-color: rgba(255, 255, 255, 0);

}

.basic-5 .text-container {
	padding-top: 6rem;
	padding-bottom: 6.125rem;
	/*border-radius: 0.75rem;*/
	/*background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/date-background.jpg') center center no-repeat;*/
	/*background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) center center no-repeat;*/
	background-size: cover;
	text-align: center;
}

.basic-5 h2 {
	width: 90%;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
	color: #eee;
}

.basic-5 p {
	width: 88%;
	margin-right: auto;
	margin-bottom: 1.75rem;
	margin-left: auto;
	color: #ddd;
}

.basic-5 .btn-solid-lg:hover {
	border: 0.125rem solid #fff;
	color: #fff;
}


/**************************/
/*     15. Newsletter     */
/**************************/
.form-2 {
	padding-top: 8.125rem;
	padding-bottom: 5.75rem;
	background-color: #fbf9f5;
}

.form-2 h3 {
	margin-bottom: 3.25rem;
	text-align: center;
}

.form-2 form {
	margin-bottom: 3rem;
}

.form-2 .icon-container {
	text-align: center;
}

.form-2 .fa-stack {
	width: 2em;
	margin-bottom: 0.75rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.form-2 .fa-stack .fa-stack-1x {
    color: #333;
	transition: all 0.2s ease;
}

.form-2 .fa-stack .fa-stack-2x {
	color: #ffbd50;
	transition: all 0.2s ease;
}

.form-2 .fa-stack:hover .fa-stack-1x {
	color: #ffbd50;
}

.form-2 .fa-stack:hover .fa-stack-2x {
    color: #333;
}


/***********************/
/*     16. Contact     */
/***********************/
.form-3 {
	padding-top: 6.125rem;
	padding-bottom: 5.125rem;
	background-color: #ffbd50;
}

.form-3 .text-container {
	margin-bottom: 3rem;
}

.form-3 h2 {
	margin-bottom: 1.125rem;
}

.form-3 p {
	color: #333;
	margin-bottom: 2rem;
}

.form-3 h3 {
	margin-bottom: 0.875rem;
}

.form-3 .list-unstyled,
.form-3 .list-unstyled a {
	color: #333;
}

.form-3 .list-unstyled .fas {
	color: #333;
	font-size: 1rem;
	line-height: 1.625rem;
}

.form-3 .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.form-3 .list-unstyled .media-body .fas.fa-globe {
	margin-left: 1.125rem;
	margin-right: 0.75rem;
}

.form-3 .form-control-input,
.form-3 .form-control-textarea {
	border: 1px solid #ffedd0;
	background-color: #FFFFFF;
}

.form-3 .form-control-input:hover,
.form-3 .form-control-textarea:hover {
	border: 1px solid #fff;
}

.form-3 .help-block,
.form-3 .checkbox,
.form-3 .checkbox a {
	color: #333;
}

.form-3 .form-control-submit-button {
	border: 0.125rem solid #333;
	background-color: transparent;
}

.form-3 .form-control-submit-button:hover {
	border: 0.125rem solid #ffedd0;
	background-color: #FFFFFF;
}


/**********************/
/*     17. Footer     */
/**********************/
.footer {
	padding-top: 4.75rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/background-lol.jpg') center center no-repeat;
	background-size: cover;
	max-height: 250px;
	/*font-size: 14px; !* 적절한 크기로 조정 *!*/
	overflow: hidden;
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h5 {
	margin-bottom: 0.5rem;

}

.footer a { 
	text-decoration: none;
}

.footer h5,
.footer p,
.footer a {
	color: #bbb;
	/*font-size: 14px; !* 적절한 크기로 조정 *!*/
}

.footer .list-unstyled .fas {
	color: #bbb;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fab {
	margin-bottom: 0.75rem;
	margin-right: 1rem;
	color: #ccc;
	font-size: 1.25rem;
	transition: all 0.2s ease;
}

.footer .fab:hover {
	color: #ffbd50;
}


/*************************/
/*     18. Copyright     */
/*************************/
.copyright {
	padding-top: 1.5rem;
	padding-bottom: 0.375rem;
	background-color: #000;
	text-align: center;
	max-height: 150px;
}

.copyright .p-small {
	color: #999;
	font-size: 0.75rem;
	line-height: 1.375rem;
}

.copyright a {
	color: #999;
}
.copyright .container{

	text-align: center;
	max-height: 150px;
}

/**********************************/
/*     19. Back To Top Button     */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #ffbd50 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #f0a731; 
}


/***************************/
/*     20. Extra Pages     */
/***************************/
.ex-header {
	padding-top: 8rem;
	padding-bottom: 5rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/header-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.ex-basic-1 {
	padding-top: 2rem;
	padding-bottom: 0.875rem;
	background-color: #efebe5;
}

.ex-basic-1 .breadcrumbs {
	margin-bottom: 1.125rem;
}

.ex-basic-1 .breadcrumbs .fa {
	margin-right: 0.5rem;
	margin-left: 0.625rem;
	font-size: 0.875rem;
}

.ex-basic-2 {
	padding-top: 4.75rem;
	padding-bottom: 4rem;
	background-color: #fbf9f5;
}

.ex-basic-2 h3 {
	margin-bottom: 1rem;
}

.ex-basic-2 .text-container {
	margin-bottom: 3.625rem;
}

.ex-basic-2 .text-container.last {
	margin-bottom: 0;
}

.ex-basic-2 .text-container.dark {
	padding: 1.625rem 1.5rem 0.75rem 2rem;
	background-color: #efebe5;
}

.ex-basic-2 .image-container-large {
	margin-bottom: 4rem;
}

.ex-basic-2 .image-container-large img {
	border-radius: 0.375rem;
}

.ex-basic-2 .image-container-small img {
	border-radius: 0.375rem;
}

.ex-basic-2 .list-unstyled .fas {
	color: #ffbd50;
	font-size: 0.5rem;
	line-height: 1.5rem;
}

.ex-basic-2 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.ex-basic-2 .form-container {
	margin-top: 3rem;
}

.ex-basic-2 .btn-solid-reg {
	margin-top: 1.5rem;
}


/*****************************/
/*     21. Media Queries     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Header */
	.header {
		padding-top: 9rem;
	}

	.header h1 {
		font-size: 4rem;
		line-height: 4.875rem;
		letter-spacing: -0.3px;
	}

	.header .btn-solid-lg {
		margin-bottom: 0;
		margin-left: 0;
	}

	.header .outer-container {
		bottom: -4rem;
	}

	.header .swiper-button-prev {
		left: 1.5rem;
	}
	
	.header .swiper-button-next {
		right: 1.5rem;
	}
	/* end of header */


	/* Registration */
	.form-1 {
		padding-top: 9rem;
	}
	/* end of registration */


	/* Description */
	.basic-2 h2 {
		width: 41rem;
		margin-right: auto;
		margin-left: auto;
	}

	.basic-2 .list-unstyled .bullet {
		width: 3.25rem;
		height: 3.25rem;
		margin-right: 1rem;
		font-size: 1.375rem;
		line-height: 3.25rem;
	}
	/* end of description */


	/* Newsletter */
	.form-2 form {
		width: 31.875rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of newsletter */


	/* Extra Pages */
	.ex-header {
		padding-top: 11rem;
		padding-bottom: 9rem;
	}

	.ex-basic-2 .text-container.dark {
		padding: 2.5rem 3rem 2rem 3rem;
	}

	.ex-basic-2 .form-container {
		margin-top: 0;
	}
	/* end of extra pages */
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
        background: transparent;
		box-shadow: none;
	}
	
	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem;
		color: #eee;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
		background-color: #fff;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.05);
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #333;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #ffbd50;
	}

	.navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 0.75rem solid rgba(0, 0, 0, 0);
		border-radius: 0.25rem;
	}

	.navbar-custom.top-nav-collapse .dropdown-menu {
		border-top: 0.5rem solid rgba(0, 0, 0, 0);
		box-shadow: 0 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.02);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-divider {
		width: 84%;
	}

	.navbar-custom .social-icons {
		display: block;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		width: 2em;
		margin-left: 0.25rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		color: #ffbd50;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		color: #333;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #ee832b;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #fff;
	}
	/* end of navigation */


	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Header */
	.header h1,
	.header .p-large {
		width: 47rem;
		margin-right: auto;
		margin-left: auto;
	}

	.header .swiper-button-prev {
		left: 3rem;
	}
	
	.header .swiper-button-next {
		right: 3rem;
	}
	/* end of header */


	/* Registration */
	.form-1 {
		padding-top: 10rem;
	}
	/* end of registration */


	/* Instructor */
	.basic-1 {
		padding-bottom: 4.5rem;
	}

	.basic-1 img {
		margin-bottom: 0;
	}
	/* end of instructor */


	/* Description */
	.basic-2 {
		padding-top: 4.5rem;
		padding-bottom: 3.5rem
	}
	/* end of description */


	/* Students */
	.basic-3 {
		padding-top: 3.5rem;
		padding-bottom: 4.5rem;
	}

	.basic-3 .text-container {
		margin-bottom: 0;
	}
	/* end of students */


	/* Details Lightbox */
	.lightbox-basic {
		max-width: 62.5rem;
		padding: 2.5rem 2.5rem 2.5rem 2.5rem;
	}

	.lightbox-basic .image-container {
		max-width: 100%;
		margin-right: 2rem;
		margin-bottom: 0;
		margin-left: 0.5rem;
	}
	
	.lightbox-basic h3 {
		margin-top: 0.5rem;
	}
	/* end of details lightbox */


	/* Video */
	.basic-4 {
		padding-top: 4.5rem;
		padding-bottom: 3.5rem;
	}
	/* end of video */


	/* Takeaways */
	.cards {
		padding-top: 3.5rem;
		padding-bottom: 3rem;
	}

	.cards .card {
		display: inline-block;
		width: 17.75rem;
		max-width: 100%;
		vertical-align: top;
	}

	.cards .card:nth-child(3n+2) {
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of takeaways */


	/* Testimonials */
	.slider-2 {
		padding-bottom: 9rem;
	}

	.slider-2 h3 {
		width: 37.5rem;
		margin-right: auto;
		margin-left: auto;
	}

	.slider-2 .swiper-container {
		width: 92%;
		text-align: left;
	}

	.slider-2 .image-wrapper {
		float: left;
		width: 6rem;
		margin-bottom: 0;
	}

	.slider-2 .text-wrapper {
		max-width: 100%;
		margin-left: 7.375rem;
	}

	.slider-2 .swiper-button-prev {
		left: 0;
	}
	
	.slider-2 .swiper-button-next {
		right: 0;
	}
	/* end of testimonials */


	/* Date */
	.basic-5 h2 {
		width: 70%;
	}
	/* end of date */


	/* Newsletter */
	.form-2 {
		padding-top: 9rem;
	}

	.form-2 h3 {
		width: 37.5rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of newsletter */


	/* Contact */
	.form-3 .text-container {
		margin-bottom: 0;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-header h1 {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 {
		padding-bottom: 5rem;
	}
	/* end of extra pages */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* Header */
	.header {
		padding-bottom: 31rem;
	}

	.header .outer-container {
		padding-bottom: 20rem;
		width: 69.375rem;
		bottom: -6rem;
		top: 30rem;
	}

	.header .swiper-container {
		width: 100%;
	}

	.header .swiper-button-prev {
		left: -2.25rem;
	}
	
	.header .swiper-button-next {
		right: -2.25rem;
	}
	/* end of header */
	

	/* Registration */
	.form-1 {
		padding-top: 12rem;
	}

	.form-1 .text-container {
		margin-top: 1rem;
		margin-right: 3.5rem;
	}

	.form-1 form {
		margin-left: 1.5rem;
	}
	/* end of registration */


	/* Instructor */
	.basic-1 .text-container {
		margin-top: 3.125rem;
		margin-left: 3.5rem;
	}
	/* end of instructor */


	/* Description */
	.basic-2 .list-unstyled.first {
		margin-right: 1.625rem;
	}

	.basic-2 .list-unstyled.second {
		margin-left: 1.625rem;
	}
	/* end of description */


	/* Students */
	.basic-3 .text-container {
		margin-top: 2.5rem;
		margin-right: 3.5rem;
	}
	/* end of instructor */


	/* Takeaways */
	.cards .card {
		width: 21rem;
	}

	.cards .card:nth-child(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of takeaways */


	/* Testimonials */
	.slider-2 .swiper-container {
		position: relative;
		width: 90%;
	}

	.slider-2 .text-wrapper {
		margin-top: 0;
	}
	/* end of testimonials */


	/* Date */
	.basic-5 h2 {
		width: 50%;
	}

	.basic-5 p {
		width: 74%;
	}
	/* end of date */


	/* Contact */
	.form-3 .text-container {
		margin-top: 2.25rem;
		margin-right: 3.5rem;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col.first {
		margin-right: 1.5rem;
	}

	.footer .footer-col.second {
		margin-left: 3rem;
	}

	.footer .footer-col.third {
		margin-left: 2.75rem;
	}

	.footer .footer-col.fourth {
		margin-left: 1.5rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-header h1 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 .form-container {
		margin-left: 1.75rem;
	}

	.ex-basic-2 .image-container-small {
		margin-left: 1.75rem;
	}
	/* end of extra pages */
}
/* end of min-width width 1200px */

/**
common-header
*/

.common-header {
	position: relative;
	height: 200px; /* 헤더 높이 */
}

.common-header .header-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/non-logo-back.png');
	background-size: cover;
	background-position: center;
	overflow: hidden;

	display: flex;
	justify-content: center; /* 수평 정렬 */
	align-items: center; /* 수직 정렬 */
}

.common-header .header-bg .lck-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.common-header .header-bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*backdrop-filter: blur(5px); /* 블러 효과 조절 */
	/*background-color: rgba(255, 255, 255, 0.3); /* 글래시모피즘 효과 조절 */
}

.common-header .header-content {
	position: relative;
	z-index: 1;
	color: #333; /* 텍스트 색상 */
	text-align: center;
	padding: 20px;
}

/*
match schedule all
**/

.match-section {
	background-color: #fbf9f5;
	padding: 6rem 0;
}

.match-section .match-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/non-logo-back.png') center center no-repeat;*/
	/*background-size: cover;*/
	background-color: rgba(255, 255, 255, 0.5); /* 투명한 배경색 */
	backdrop-filter: blur(10px); /* 흐림 효과 */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

	border: 1px solid rgba(0,0,0,.07);
	border-radius: 0.75rem;
	padding: 2rem;
	text-align: center;
	margin-bottom: 3rem;

}

.match-section .match-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 1rem;
}

.match-section .match-date,
.match-section .match-status {
	color: #403a3a;
	font-size: 1.2rem;
	font-weight: bold;
}

.match-section .team-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.match-section .home-team-info,
.match-section .away-team-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #eee;
	margin: 0 2rem;
}

.match-section .home-team-info img,
.match-section .away-team-info img {
	width: 50px;
	height: 50px;
	margin-bottom: 0.5rem;
}

.match-section .match-score {
	color: #403a3a;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin: 0 2rem;
}

.match-section .match-score span {
	margin: 0 1rem;
}
.match-info {
	display: flex;
	justify-content: center;

}

.match-score {
	/*display: flex;*/
	/*align-items: center;*/
	display: flex;
	justify-content: center; /* score를 수평 가운데 정렬합니다. */
	align-items: center; /* score를 수직 가운데 정렬합니다. */

}
/* 캘린더**/

.p-schedule-calendar{

	position: relative; /* 자식 요소를 기준으로 사용할 부모 요소에 상대적인 위치를 설정합니다. */
	width: 100%; /* 부모 요소가 전체 너비를 차지하도록 설정합니다. */
	height: 100%; /* 부모 요소가 전체 높이를 차지하도록 설정합니다. */
	height: 100px; /* 요소의 높이를 설정합니다. */

}
.schedule-calendar {
	/*position: absolute; !* 화면을 기준으로 위치를 고정합니다. *!*/
	/*top: 27.5%; !* 상단을 기준으로 50% 위치에 요소를 배치합니다. *!*/
	/*left: 50%; !* 좌측을 기준으로 50% 위치에 요소를 배치합니다. *!*/
	/*transform: translate(-50%, -10%); !* 요소의 가로 및 세로 중앙으로 이동시킵니다. *!*/
	/*height: 200px; !* 요소의 높이를 설정합니다. *!*/
	/*font-size: large;*/
	position: absolute; /* 화면을 기준으로 위치를 고정합니다. */
	top: 50%; /* 상위 요소(.parent-container)의 중앙을 기준으로 요소를 배치합니다. */
	left: 50%; /* 상위 요소(.parent-container)의 중앙을 기준으로 요소를 배치합니다. */
	transform: translate(-50%, -50%); /* 요소의 가로 및 세로 중앙으로 이동시킵니다. */
	font-size: large;
}



/**모달 */
/* 추가적인 스타일링 */
/*#calendarModal {*/
/*	display: none;*/
/*	position: fixed;*/
/*	z-index: 1;*/
/*	left: 40rem;*/
/*	top: 25.5rem;*/
/*	max-width: 400px; !*change as per your design need *!*/
/*	min-width: 320px;*/
/*	overflow: auto;*/
/*	background-color: rgba(0,0,0,0);*/
/*	overflow:hidden;*/
/*}*/

#calendarModal {
	display: none;
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 11.5rem;
	transform: translate(-50%, -0); /* 요소를 수평 및 수직으로 중앙 정렬 */
	max-width: 400px; /*change as per your design need */
	min-width: 320px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0); /* 반투명한 배경색 */
	overflow:hidden;

}

/* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 조정 */
@media screen and (max-width: 768px) {
	#calendarModal {
		max-width: 80%; /* 화면 너비의 80%까지 */
	}
}

@media screen and (max-width: 480px) {
	#calendarModal {
		max-width: 90%; /* 화면 너비의 90%까지 */
	}
}

.modal-content2 {
	background-color: rgba(0, 0, 0, 0);
	margin: 15% auto;
	padding: 20px;
	border: none;
	width: 100%;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


/* 캘린더 스타일 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
	--calendar-bg-color: #262829;
	--calendar-font-color: #FFF;
	--weekdays-border-bottom-color: #404040;
	--calendar-date-hover-color: #505050;
	--calendar-current-date-color: #1b1f21;
	--calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
	--calendar-today-innerborder-color: transparent;
	--calendar-nextprev-bg-color: transparent;
	--next-prev-arrow-color : #FFF;
	--calendar-border-radius: 16px;
	--calendar-prevnext-date-color: #484848
}

* {
	padding: 0;
	margin: 0;
}

.calendar {
	font-family: 'IBM Plex Sans', sans-serif;
	position: relative;
	max-width: 400px; /*change as per your design need */
	min-width: 320px;
	background: var(--calendar-bg-color);
	color: var(--calendar-font-color);
	margin: 20px auto;
	box-sizing: border-box;
	overflow: hidden;
	font-weight: normal;
	border-radius: var(--calendar-border-radius);
}

.calendar-inner {
	padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
}

.calendar .calendar-inner .calendar-body div {
	padding: 4px;
	min-height: 30px;
	line-height: 30px;
	border: 1px solid transparent;
	margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
	border: 1px solid transparent;
	border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
	border: 1px solid transparent;
	border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
	color: var(--calendar-font-color);
	text-decoration: none;
	display: flex;
	justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
	border: 1px solid var(--calendar-date-hover-color);
	border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
	border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
	display: grid;
	text-align: center;
	cursor: pointer;
	margin: 3px 0px;
	background: var(--calendar-current-date-color);
	padding: 8px 0px;
	border-radius: 10px;
	width: 80%;
	margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
	display: flex;
	min-width: 100px;
	justify-content: space-evenly;
	align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
	text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
	font-weight: 500;
	font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
	background: var(--calendar-today-color);
	border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
	border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
	outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
	color: var(--calendar-font-color);
	font-family: arial, consolas, sans-serif;
	font-size: 26px;
	text-decoration: none;
	padding: 4px 12px;
	display: inline-block;
	background: var(--calendar-nextprev-bg-color);
	margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
	height: 20px;
	width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
	fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
	color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
	border: 1px solid transparent;
	pointer-events: none;
}

@media (min-width: 481px) {
.calendarModal {
	position: absolute;
	top: 46px;
	bottom: auto;
	left: 50%;
	z-index: 2500;
	margin-left: -172px;
	padding: 0;
	width: 344px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #777;
	-webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .1);
}
}

/*
		메인화면 main
*/
.big-main-wrapper-container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.text-container2 {
	margin-bottom: 20px;
	align-content: center;
	border: 1px solid #ccc;
	border-radius: 5px;


}

.btn-solid-lg {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.btn-solid-lg:hover {
	background-color: #0056b3;
}


.bottom-text-container1 {
	border-radius: 0px;
	padding-right: 0px;
}

.bottom-text-container2 {
	border-radius: 0px;
	padding-left: 0px;
}

.big-main-wrapper-container{
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	padding: 0px;
	margin-top: 7.5rem;
	width: 80%;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0.75rem;
}

.aside-text-container .text-container{
	max-height:800px;
}

.top-text-container,
.aside-text-container {
	display: flex;
	justify-content: center; /* 수평 가운데 정렬 */
	width: 100%;
	display: block;
}


.top-text-container .text-container,
.aside-text-container .text-container {
	text-align: center; /* 텍스트를 가운데 정렬 */
}


.top-text-container2{
	border-top-left-radius: 10px; /* 왼쪽 위의 모서리 반지름 값을 변경 */
	border-top-right-radius: 10px;
	max-height: 400px;
}

.bottom-left-text-container2{
	border-bottom-left-radius: 10px;
	max-height: 400px;
}
.bottom-right-text-container2{
	border-bottom-right-radius: 10px;
	max-height: 400px;
}

.aside-text-container .text-container{
	border-radius: 10px;
	max-height: 800px;

}

.top-text-container2{
	width: 100%;
}

.row .text-container-wrapper{
	padding-right: 0px;
	padding-left: 0px;
	/*background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) center center no-repeat;*/
	margin-right: 3rem;

}


.text-container.bottom-right-text-container2 {
	position: relative;
}



/*aside ranking*/
.date.basic-5.col-lg-4 {
	background-color: #f9f9f9;
	border-radius: 10px;

}

.ranking-container {
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.ranking-section-title {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

.ranking-icon {
	vertical-align: middle;
	margin-left: 5px;
}

.ranking-content {
	margin-top: 10px;
}

.ranking-button-area {
	margin-bottom: 10px;
}

.ranking-type-button {
	background-color: #ddd;
	color: #333;
	border: none;
	padding: 8px 16px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.ranking-type-button.active {
	background-color: #007bff;
	color: #fff;
}

.ranking-group-table {
	margin-top: 10px;
}

.ranking-caption {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}

.ranking-table {
	display: inline-block;

}

.ranking-row {
	background-color: #f3f3f3;


}

.ranking-row-title {
	font-weight: bold;

}

.ranking-item {
	padding: 10px 0;


}

.ranking-rank {
	margin-right: 5px;
	font-weight: bold;
}

.ranking-logo {
	display: inline-block;
	margin-right: 10px;
}

.ranking-text {
	font-size: 16px;
	vertical-align: middle;
}

.ranking-num {
	font-weight: bold;
}
/**
news list
*/

.new-ul{
	margin-top: 20px;
	background: white;
	text-align: center !important;
	display: contents;
}

.main_news_info {
	width: 200px;
	height: 100px;
}

.new-ul li {
	list-style: none;
	padding: 0;
	margin-right: 0;
	overflow: hidden;

}

.news_item{
	border-radius: 10px;
	background-size: cover;
	width: 100%;
	height: 100px;
}


/**/

/*--------------------------------------------------------------
# predict
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
	overflow: hidden;
}


.testimonials .testimonial-item .testimonial-img{
	width: 90px;
	border-radius: 10px;
	border: 6px solid #fff;
	margin: 0 10px 0 0;
	float: left;
}


.testimonials .right-testimonial-item .right-testimonial-img{
	width: 90px;
	border-radius: 10px;
	border: 6px solid #fff;
	margin: 0 10px 0 0;
	float: left;
}

.right-testimonial-item{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

}


.right-testimonial-item h3{
	justify-content: right;
	font-size: 18px;
}

.right-testimonial-item h4{
	justify-content: right;
	font-size: 14px;
}

.left-testimonial-item h3{
	font-size: 18px;
}

.left-testimonial-item h4{
	font-size: 14px;
}

.left-testimonial-item{

	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}


.testimonial-item .testimonial-date{
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px
}

.left-testimonial-item,
.right-testimonial-item {
	/*width: calc(50% - 20px); !* Adjust width as per your layout *!*/
	box-sizing: border-box;
	/*padding: 40px;*/
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
	position: relative;
	background: #fff;
	float: left;
	width: 450px;
	margin-right: 20px; /* Adjust margin between items */
	flex: 1;
	flex-wrap: nowrap;
}

.right-testimonial-item h3, .right-testimonial-item h4{
	display: flex; /* 디스플레이 속성을 플렉스로 설정합니다. */
	align-items: end; /* 항목들을 수직으로 정렬합니다. */
	padding-right: 10px;

}

.left-testimonial-item h3, .left-testimonial-item h4{
	display: flex; /* 디스플레이 속성을 플렉스로 설정합니다. */
	align-items: end; /* 항목들을 수직으로 정렬합니다. */
	padding-right: 10px;

}

.left-testimonial-item .testimonial-img,
.right-testimonial-item .right-testimonial-img {
	max-width: 100%; /* 이미지가 부모 요소의 크기에 맞게 조절됩니다. */
	height: auto; /* 이미지의 세로 비율을 유지합니다. */
	margin-right: 10px; /* 이미지와 텍스트 사이의 간격을 조정합니다. */
	max-height: 200px;
}


.left-testimonial-item:hover,
.right-testimonial-item:hover {
	background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

.left-testimonial-item:hover h3,
.left-testimonial-item:hover h4,
.right-testimonial-item:hover h3,
.right-testimonial-item:hover h4 {
	color: #2F2F2F; /* 호버 시 텍스트 색상 변경 */
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
	overflow: hidden;
}

.testimonials .testimonial-item {
	box-sizing: content-box;
	padding: 40px;
	padding-left: 100px;

	/*box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);*/
	position: relative;
	background: #fff;

}

.testimonials .testimonial-item .testimonial-img {
	width: 90px;
	border-radius: 10px;
	border: 6px solid #fff;
	float: left;
	margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #394047;
}

.testimonials .testimonial-item h4 {
	font-size: 14px;
	color: #999;
	margin: 0;
}
.testimonial-item{
	display: flex;
	/*justify-content: space-between;*/
	flex-wrap: nowrap; /* 줄바꿈 방지 */
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
	color: #b9d4ec;
	font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
}

.testimonials .testimonial-item p {
	font-style: italic;
	margin: 15px 0 0 0;
	padding: 0;
}

/*predict-haeder*/
.predict-back-div{
	background-image: url("../images/back-div.png");
	background-size: cover;
	width: 100%;
	height: 400px;
}


.predict-back-div {
	display: flex;
	flex-direction: column; /* 수직으로 요소를 정렬하도록 설정 */
	align-items: center; /* 수직 정렬 */
	justify-content: center; /* 수평 정렬 */
	text-align: center; /* 텍스트 수평 정렬 */
}

.predict-back-img {
	width: 300px;
	height: 200px;
}

.row-predict-wrapper {
	width: 90%;
	margin-top: 3rem;
	margin-bottom: 3rem;

}



.ranking-table {
	width: 100%;
}
thead, tbody, tr,.ranking-item-row first{
	display: block;
}


/**
	appWrap

*/
