<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />

</head>
<body>
<div class="Main w-96 h-96 relative bg-white">
    <div class="Lck w-96 h-80 left-[66px] top-[681px] absolute">
        <div class="Lck w-96 h-24 left-[12px] top-0 absolute text-black text-4xl font-normal font-['Inter'] tracking-tight">LCK 관련 영상</div>
    </div>
    <div class="Main h-96 left-[66px] top-[160px] absolute">
        <div class=" w-96 h-24 left-[12px] top-0 absolute text-black text-4xl font-normal font-['Inter'] tracking-tight">오늘의 경기 일정</div>
        <div class="Frame2209 w-96 h-96 left-0 top-[89px] absolute justify-center items-center inline-flex"></div>
    </div>
    <div class="Footer w-96 h-56 left-0 top-[1957px] absolute">
        <div class="Rectangle451 w-96 h-56 left-0 top-0 absolute bg-zinc-700"></div>
        <div class="ImYeomsuGithubCom left-[66px] top-[50px] absolute text-white text-4xl font-normal font-['Inter'] tracking-tight">Im’ Yeomsu - @github.com</div>
    </div>
    <div class="Header w-96 h-28 left-0 top-0 absolute">
        <div class="Header w-96 h-28 left-0 top-0 absolute bg-white border-b border-black border-opacity-30"></div>
        <img class="Image81 w-16 h-16 left-[122px] top-[29px] absolute" src="https://via.placeholder.com/65x65" />
        <img class="Image77 w-16 h-16 left-[1233px] top-[25px] absolute" src="https://via.placeholder.com/64x62" />
        <div class="Rectangle438 w-20 h-12 pl-3 pr-3.5 pt-1.5 pb-3 left-[1320px] top-[35px] absolute justify-center items-center inline-flex">
            <div class="NavButton flex-col justify-start items-start gap-4 inline-flex">
                <div class="ButtonLine w-14 h-9 relative">
                    <div class="Line30 w-14 h-px left-0 top-0 absolute border-2 border-neutral-500"></div>
                </div>
            </div>
        </div>
        <img class="Image79 w-16 h-16 left-[45px] top-[27px] absolute" src="https://via.placeholder.com/65x65" />
    </div>
    <div class="Lck w-96 h-96 left-0 top-[1044px] absolute">
        <div class="Rectangle450 w-96 h-96 left-0 top-0 absolute bg-violet-100"></div>
        <div class="Lck w-96 h-24 left-[77px] top-[50px] absolute text-black text-4xl font-normal font-['Inter'] tracking-tight">오늘의 LCK 소식</div>
    </div>
    <div class=" w-96 h-96 left-[921px] top-[155px] absolute">
        <div class=" w-96 h-24 left-0 top-0 absolute text-black text-4xl font-normal font-['Inter'] tracking-tight">경기 순위</div>
        <div class=" w-96 h-96 left-0 top-[94px] absolute">
            <div class=" w-96 h-20 left-[30.03px] top-[63px] absolute bg-white shadow"></div>
            <div class=" w-96 h-20 left-[30.03px] top-[173px] absolute bg-white shadow"></div>
            <div class=" w-96 h-20 left-[30.03px] top-[283px] absolute bg-white shadow"></div>
            <div class=" w-96 h-20 left-[30.03px] top-[393px] absolute bg-white shadow"></div>
            <div class=" w-96 h-20 left-[30.03px] top-[503px] absolute bg-white shadow"></div>
            <div class=" w-96 h-20 left-[30.03px] top-[613px] absolute bg-white shadow"></div>
        </div>
        <div class="Lol w-96 h-6 left-[30.03px] top-[110px] absolute text-black text-xl font-normal font-['Inter'] tracking-tight">2024 LoL 챔피언스 스프링<br/></div>
    </div>
</div>
</body>
</html>