<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="template-nav" class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Corso</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="/"><img src="images/lck_woori.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/">HOME</a>
            </li>

            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="/match-schedule/main" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">경기</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/match-schedule/all-matches"><span class="item-text">경기 일정</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/match-schedule/ranking"><span class="item-text">경기 순위</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/match-schedule/all-news"><span class="item-text">LCK 소식</span></a>
                </div>
            </li>
            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="/event/main" id="navbarDropdown1" role="button" aria-haspopup="true" aria-expanded="false">이벤트</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/leagues/predict"><span class="item-text">승부 예측</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">핫타임 이벤트</span></a>
                </div>
            </li>

            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="#date" id="navbarDropdown2" role="button" aria-haspopup="true" aria-expanded="false">마이페이지</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/auth/myPage"><span class="item-text">내 정보 확인하기</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">내 정보 수정하기</span></a>
                </div>
            </li>


            <!-- end of dropdown menu -->

        </ul>
        <span class="nav-item social-icons">
            <span class="fa-stack">
                <a href="/auth/login">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-user fa-stack-1x"></i>
                </a>
            </span>
<!--            <span class="fa-stack">-->
<!--                <a href="#your-link">-->
<!--                    <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                    <i class="fab fa-twitter fa-stack-1x"></i>-->
<!--                </a>-->
<!--            </span>-->
        </span>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navigation -->
</body>
</html>