<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Copyright -->
<div th:fragment="template-copyright" class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2024 <a href="https://github.com/I-m-YeomSu">I'm Yeomsu</a> - All rights reserved</p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->
</body>
</html>