<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini Finance - Wallet Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/apexcharts.css" rel="stylesheet">

    <link href="css/tooplate-mini-finance.css" rel="stylesheet">

</head>

<body>
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" href="../main/index.html">
                <i class="bi-box"></i>
                우리 X LCK
            </a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <div class="dropdown ps-3">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-bell"></i>
                        <span
                            class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu notifications-block-wrap bg-white shadow">
                        <small>Notifications</small>

                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>

                                <div>
                                    <span>Your account has been created successfuly.</span>

                                    <p>12 days ago</p>
                                </div>
                            </a>
                        </li>

                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-info">
                                    <i class="notifications-icon bi-folder"></i>
                                </div>

                                <div>
                                    <span>Please check. We have sent a Daily report.</span>

                                    <p>10 days ago</p>
                                </div>
                            </a>
                        </li>

                        <li class="notifications-block">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-danger">
                                    <i class="notifications-icon bi-question-circle"></i>
                                </div>

                                <div>
                                    <span>Account verification failed.</span>

                                    <p>1 hour ago</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
                <div class="position-sticky py-4 px-3 sidebar-sticky">
                    <ul class="nav flex-column h-100">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../main/index.html">
                                <i class="bi-house-fill me-2"></i>
                                홈
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="league.html">
                                <i class="bi-wallet me-2"></i>
                                리그 정보
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../event/main.html">
                                <i class="bi-person me-2"></i>
                                이벤트
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../auth/user/profile.html">
                                <i class="bi-person me-2"></i>
                                내 정보
                            </a>
                        </li>

                        <li class="nav-item border-top mt-auto pt-2">
                            <a class="nav-link" href="#">
                                <i class="bi-box-arrow-left me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">

                <div class="row my-4">
                    <div class="col-lg-12 col-12">
                        <div class="custom-block bg-white">
                            <h5 class="mb-4">리그 순위</h5>

                            <div class="table-responsive">
                                <table class="account-table table">
                                    <thead>
                                        <tr>
                                            <th scope="col">팀명</th>

                                            <th scope="col">승</th>

                                            <th scope="col">패</th>

                                            <th scope="col">승률</th>

                                            <th scope="col">득실차</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td scope="row">
                                                <img src="team1_logo.jpg" class="team-logo">
                                                팀명 1
                                            </td>

                                            <td scope="row">10:00 PM</td>

                                            <td scope="row">Shopping</td>

                                            <td scope="row">C2C Transfer</td>

                                            <td class="text-danger" scope="row">
                                                <span class="me-1">-</span>
                                                $100.00
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team2_logo.jpg" class="team-logo">
                                                팀명 2
                                            </td>

                                            <td scope="row">10:42 AM</td>

                                            <td scope="row">Food Delivery</td>

                                            <td scope="row">Mobile Reload</td>

                                            <td class="text-success" scope="row">
                                                <span class="me-1">+</span>
                                                $250
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team3_logo.jpg" class="team-logo">
                                                팀명 3
                                            </td>

                                            <td scope="row">8:20 PM</td>

                                            <td scope="row">Billing</td>

                                            <td scope="row">Goverment</td>

                                            <td class="text-success" scope="row">
                                                <span class="me-2">+</span>$50
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team4_logo.jpg" class="team-logo">
                                                팀명 4
                                            </td>

                                            <td scope="row">10:48 PM</td>

                                            <td scope="row">Shopee</td>

                                            <td scope="row">QR Code</td>

                                            <td class="text-danger" scope="row">
                                                <span class="me-2">-</span>$380
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team5_logo.jpg" class="team-logo">
                                                팀명 5
                                            </td>

                                            <td scope="row">12:30 AM</td>

                                            <td scope="row">Food Delivery</td>

                                            <td scope="row">Mobile Reload</td>

                                            <td class="text-success" scope="row">
                                                <span class="me-2">+</span>$250
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team6_logo.jpg" class="team-logo">
                                                팀명 6
                                            </td>

                                            <td scope="row">2:40 PM</td>

                                            <td scope="row">Food Delivery</td>

                                            <td scope="row">Mobile Reload</td>

                                            <td class="text-success" scope="row">
                                                <span class="me-2">+</span>$50
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team7_logo.jpg" class="team-logo">
                                                팀명 7
                                            </td>

                                            <td scope="row">8:50 AM</td>

                                            <td scope="row">Food Delivery</td>

                                            <td scope="row">Mobile Reload</td>

                                            <td class="text-success" scope="row">
                                                <span class="me-2">+</span>$50
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team8_logo.jpg" class="team-logo">
                                                팀명 8
                                            </td>

                                            <td scope="row">6:45 PM</td>

                                            <td scope="row">Food Delivery</td>

                                            <td scope="row">Mobile Reload</td>

                                            <td class="text-danger" scope="row">
                                                <span class="me-2">-</span>$500
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team9_logo.jpg" class="team-logo">
                                                팀명 9
                                            </td>

                                            <td scope="row">11:20 AM</td>

                                            <td scope="row">Food Delivery</td>

                                            <td scope="row">Mobile Reload</td>

                                            <td class="text-success" scope="row">
                                                <span class="me-2">+</span>$856
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">
                                                <img src="team10_logo.jpg" class="team-logo">
                                                팀명 10
                                            </td>

                                            <td scope="row">11:00 PM</td>

                                            <td scope="row">Food Delivery</td>

                                            <td scope="row">Mobile Reload</td>

                                            <td class="text-success" scope="row">
                                                <span class="me-2">+</span>$50
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="custom-block bg-white">
                            <h5 class="mb-4">리그 뉴스</h5>
                            <div class="card mb-3 custom-card">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://via.placeholder.com/150" alt="Card image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3 custom-card">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://via.placeholder.com/150" alt="Card image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3 custom-card">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://via.placeholder.com/150" alt="Card image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
            </main>

        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/apexcharts.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>