<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Hidayah Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <link href="../css/swiper.css" rel="stylesheet">
    <link href="../css/magnific-popup.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".fixed-top">


<div th:insert="~{fragments/nav/template-nav :: template-nav}" class="replaceAttribute"></div>
<div class="predict-haeder-wrapper">
    <div class="predict-back-div">
        <img class="predict-back-img" src="../images/predict-div-logo.png">

        <h3>gggg뭐요?</h3>
        <p class="predict-back-p" th:text="${votedAllUserCount}">Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>

    </div>
</div>

<section id="testimonials" class="testimonials section-bg">


    <div class="row justify-content-between row-predict-wrapper">
        <div class="col-lg-8">
            <div class="row row-predict-container">
            <div class="row justify-content-center" >
                <div class="col-xl-8" style="width: 100%" >
                    <div  class="row mb-5" > <!--얘를 돌려! th:each-->
                        <div class="testimonial-item" style="border: none" th:each="match, iterStat : ${matches}">
                                <h3  class="testimonial-date" th:text="${match.matchDate}">December 22nd, 2020</h3>
                                     <div class="left-testimonial-item" style="margin: 0;" th:onclick="'sendPrediction(' + ${iterStat.count} + ', true);'">
                                    <img th:src="${match.homeTeamLogo}" class="testimonial-img" alt="">
                                    <h3 th:text="${match.homeTeamName}"></h3>

                                         <div th:each="votedUser, iterStat2:${votedUserList}">
                                             <div th:if="${iterStat.count == votedUser.getPredictId()}">
                                                 시작
                                             <br>
                                                 <div th:text="${votedUser.isFlag()}"></div>
                                             <br>
                                                 끝
                                             </div>
                                         </div>

                                </div>
                                <div class="right-testimonial-item" onclick="sendAjaxRequest('right');">
                                    <img style="float: right;" th:src="${match.awayTeamLogo}" class="right-testimonial-img" alt="">

                                    <h3 th:text="${match.awayTeamName}"></h3>
                                </div>
                                <img src="../images/vs.png" style="width: 50px; height: 50px; position: absolute; top: 50%; left: 53.5%; transform: translate(-50%, -50%);">
                            </div>
                </div>
            </div>
        </div>
        <div class="date basic-5 col-lg-4">
            <div class="aside-text-container">
                <div class="ranking-container">
                    <a class="ranking-section-title" href="/esports/League_of_Legends/record/lck">2024 LoL 챔피언스 코리아 스프링<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" class="ranking-icon">
                        <path d="M2 2l5 5-5 5" stroke="#222" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a>
                    <div class="ranking-content">
                        <div class="ranking-button-area">
                            <button type="button" class="ranking-type-button active">팀</button>
                            <button type="button" class="ranking-type-button">선수</button>
                        </div>
                        <table th:fragment="team-ranking-fragment" class="ranking-table">
                            <thead class="ranking-title-area">
                            <tr class="ranking-row">
                                <th><div class="col-sm-1 ranking-row-title">팀 순위</div></th>
                                <th><div class="col-sm-4 ranking-row-title">팀명</div></th>
                                <th><div class="col-sm-1 ranking-row-title">승</div></th>
                                <th><div class="col-sm-1 ranking-row-title">패</div></th>
                                <th><div class="col-sm-3 ranking-row-title">승률</div></th>
                                <th><div class="col-sm-2 ranking-row-title">득실차</div></th>
                            </tr>
                            </thead>
                            <tbody class="ranking-item-area">
                                <tr th:scope="col" th:each="rank ,userStat : ${ranking}" class="ranking-item-row first">

                                    <td class="ranking-item col-sm-1">
                                        <strong th:text="${userStat.index+1}" class="ranking-rank">1</strong>
                                    </td>

                                    <td class="col-sm-5">
                                        <div class="ranking-logo">
                                            <img class="ranking-image" th:src="@{${rank.logo}}" src="https://nng-phinf.pstatic.net/MjAyNDA0MTRfODAg/MDAxNzEzMDkzODYyNDQ4.eYiZxiqvEsfKTolDJgMiWGdZdPkvjqTaJCBzieidI04g.Z49TEBd7qQnvaQbYAmJLhcozS7OO9Lam1tZ-Lz-UOsUg.PNG/xEtyTgLerKLWMjBvzShJ.png?type=f60_60" width="36" height="36" alt="젠지">
                                        </div>
                                        <span th:text="${rank.teamName}" class="ranking-text"></span>
                                    </td>
                                    <td class="ranking-item col-sm-1"><span class="ranking-num" th:text="${rank.win}">17</span></td>
                                    <td class="ranking-item col-sm-1"><span class="ranking-num" th:text="${rank.lose}">1</span></td>
                                    <td class="ranking-item col-sm-2"><span class="ranking-num" th:text="${rank.winrate}">0.94</span></td>
                                    <td class="ranking-item col-sm-2"><span class="ranking-num" th:text="${rank.difference}">29</span></td>
                                </tr>
                            <hr>
                            <!-- Other rows -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
여기에 댓글 다는 기능 달자잉?

</section><!-- End Testimonials Section -->
<div th:insert="~{fragments/footer/template-footer :: template-footer}" class="replaceAttribute"></div>
<div th:insert="~{fragments/footer/template-copyright :: template-copyright}" class="replaceAttribute"></div>



<!-- Template Main JS File -->
<script src="../js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="../js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="../js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="../js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="../js/jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
<script src="../js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="../js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="../js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="../js/scripts.js"></script> <!-- Custom scripts -->

<script src="../js/predict.js"></script>

</body>

</html>
</body>

<script>
    function sendPrediction(matchId, isHomeTeam) {
        var memberId = 1; // memberId는 기본적으로 1로 설정
        var predictId = matchId; // 매치의 ID를 예측 ID로 사용
        var flag = isHomeTeam; // 홈팀인지 어웨이팀인지에 따라 flag 설정

        var data = {
            memberId: memberId,
            predictId: predictId,
            flag: flag
        };

        // AJAX 요청 보내기
        $.ajax({
            type: "POST",
            url: "/api/predict/vote",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(response) {
                // 성공 시 할 일
                console.log("Prediction sent successfully!");
            },
            error: function(xhr, status, error) {
                // 에러 처리
                console.error("Error sending prediction:", error);
            }
        });
    }
</script>

</html>